{% extends "dashboard_base.html" %}


{% block title %}
Application Review | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Administrator
{% endblock %}


{% block sidebar_navigation %}

{% set admin_active_page = "application-review" %}

{% include "partials/administrator_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Application Review
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% include "partials/application_review.html" %}

{% endblock %}