{% extends "dashboard_base.html" %}


{% block title %}
Create Degree Program | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Administrator
{% endblock %}


{% block sidebar_navigation %}

{% set admin_active_page = "create-degree-program" %}

{% include "partials/administrator_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Create Degree Program
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% set form_mode = "create" %}
{% set submit_button_text = "Create Degree Program" %}

{% include "partials/degree_program_form.html" %}

{% endblock %}