{% extends "dashboard_base.html" %}


{% block title %}
Modify Degree Program | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Administrator
{% endblock %}


{% block sidebar_navigation %}

{% set admin_active_page = "modify-degree-program" %}

{% include "partials/administrator_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Modify Degree Program
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% set form_mode = "modify" %}
{% set submit_button_text = "Save Changes" %}

{% include "partials/degree_program_form.html" %}

{% endblock %}