{% extends "dashboard_base.html" %}


{% block title %}
Modify Student Application | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Administrator
{% endblock %}


{% block sidebar_navigation %}

{% set admin_active_page = "student-applications" %}

{% include "partials/administrator_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Modify Student Application
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% set form_mode = "modify" %}
{% set submit_button_text = "Save Changes" %}

{% include "partials/student_application_form.html" %}

{% endblock %}