{% extends "dashboard_base.html" %}


{% block title %}
Application Review | UA-GDAS
{% endblock %}

{% block page_css %}
<link
    rel="stylesheet"
    href="/static/css/pages/application-review.css"
>
{% endblock %}


{% block sidebar_role %}
Degree Advisor
{% endblock %}


{% block sidebar_navigation %}

{% set advisor_active_page = "application-review" %}

{% include "partials/advisor_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Application Review
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% include "partials/application_review.html" %}

{% endblock %}