{% extends "dashboard_base.html" %}


{% block title %}
Graduate Degrees | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Degree Advisor
{% endblock %}


{% block sidebar_navigation %}

{% set advisor_active_page = "graduate-degrees" %}

{% include "partials/advisor_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Graduate Degrees
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% set degree_browser_action = "/advisor/graduate-degrees" %}

{% include "degrees/degree_browser.html" %}

{% endblock %}