{% extends "dashboard_base.html" %}


{% block title %}
Graduate Degrees | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Application Reviewer
{% endblock %}


{% block sidebar_navigation %}

{% set reviewer_active_page = "graduate-degrees" %}

{% include "partials/reviewer_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Graduate Degrees
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% set degree_browser_action = "/reviewer/graduate-degrees" %}

{% include "degrees/degree_browser.html" %}

{% endblock %}