{% extends "base.html" %}

{% block title %}
Applicant | UA-GDAS
{% endblock %}

{% block content %}

<section class="dashboard-page">

    <div class="dashboard-container">

        <h1>Applicant</h1>

        <div class="dashboard-grid">

            <a href="#" class="dashboard-card">
                <span class="card-number">01</span>
                <h2>Student Application</h2>
            </a>

            <a href="#" class="dashboard-card">
                <span class="card-number">02</span>
                <h2>Modify Application</h2>
            </a>

            <a href="#" class="dashboard-card">
                <span class="card-number">03</span>
                <h2>View Graduate Degrees</h2>
            </a>

        </div>

    </div>

</section>

{% endblock %}