{% extends "dashboard_base.html" %}


{% block title %}
Graduate Degrees | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Applicant
{% endblock %}


{% block sidebar_navigation %}

{% set applicant_active_page = "graduate-degrees" %}

{% include "partials/applicant_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Graduate Degrees
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% include "degrees/degree_browser.html" %}

{% endblock %}