{% extends "dashboard_base.html" %}


{% block title %}
Graduate Degrees | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Applicant
{% endblock %}


{% block sidebar_navigation %}

<div class="sidebar-main-navigation">

    <a href="/applicant" class="sidebar-link">
        Overview
    </a>


    <div class="sidebar-group">

        <span class="sidebar-group-label">
            Application
        </span>

        <a href="/applicant/application" class="sidebar-link">
            Student Application
        </a>

        <a href="/applicant/modify-application" class="sidebar-link">
            Modify Application
        </a>

    </div>


    <div class="sidebar-group">

        <span class="sidebar-group-label">
            Resources
        </span>

        <a
            href="/applicant/graduate-degrees"
            class="sidebar-link active"
        >
            Graduate Degrees
        </a>

        <a href="#" class="sidebar-link">
            Notifications
        </a>

    </div>

</div>


{% include "partials/sidebar_settings.html" %}

{% endblock %}


{% block dashboard_heading %}
Graduate Degrees
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% include "degrees/degree_browser.html" %}

{% endblock %}