{% extends "dashboard_base.html" %}


{% block title %}
Modify Application | UA-GDAS
{% endblock %}


{% block sidebar_role %}
Applicant
{% endblock %}


{% block sidebar_navigation %}

{% set applicant_active_page = "modify-application" %}

{% include "partials/applicant_sidebar.html" %}

{% endblock %}


{% block dashboard_heading %}
Modify Application
{% endblock %}


{% block dashboard_summary %}
{% endblock %}


{% block dashboard_content %}

{% set form_mode = "modify" %}
{% set submit_button_text = "Save Changes" %}

{% include "partials/student_application_form.html" %}

{% endblock %}